
:root {
  --z-base: 1;
  --z-content: 10;
  --z-menu: 100;
  --z-overlay: 150;
  --z-modal: 200;
  --z-toast: 1000;
  --z-popover: 9000;
  --z-top: 10000;
}

.app {
  background: var(--background);
  color: var(--primary);
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}
.app * {
  user-select: none;
}
.app *::selection {
  background: var(--accent);
  color: var(--secondary);
}
.app *::-moz-selection {
  background: var(--accent);
  color: var(--secondary);
}
.app *::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.app *::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}
.app *::-webkit-scrollbar-thumb:hover {
  filter: brightness(.5);
}

body, html, #root {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  position: relative;
  font-family: var(--font), Arial, Helvetica, sans-serif;
  color: var(--primary);
}

code {
  display: inline-block;
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 3px;
  border-radius: 5px;
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
    scroll-behavior: auto !important;
  }
}
