.outer {
  z-index: 10;
}

.bar {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  background: rgba(60, 60, 60, 0.4);
  backdrop-filter: blur(10px);
}

.title {
  margin: 0 12px;
  font-size: 1.1em;
  font-weight: 600;
  text-align: center;
}
